@media (max-width: 850px) {
  #timeline-edit-button span {
    display: none;
  }
  #timeline-edit-button i {
    margin-right: 0;
  }
}

@if $Timeline_edit_button_text == "" {
  #timeline-edit-button span {
    display: none;
  }
  #timeline-edit-button i {
    margin-right: 0;
  }
}
