@media (max-width: 850px) {
  #timeline-edit-topic span {
    display: none;
  }
  #timeline-edit-topic i {
    margin-right: 0;
  }
}

@if $Timeline_edit_topic_text == "" {
  #timeline-edit-topic span {
    display: none;
  }
  #timeline-edit-topic i {
    margin-right: 0;
  }
}

@if $Hide_default_button == "true" {
  button#edit {
    display: none;
  }
}
